* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    text-align: center;
    padding: 3%;
}

h1 {
    margin-bottom: 2%;
    text-decoration: underline;
}

form {
    display: flex;
    width: 50%;
    margin: auto;
    gap: 2%;
    margin-bottom: 5%;
}

form > input, form > button {
    min-height: 5vh;
}

form > input {
    flex: 2;
    padding: 1%;
    outline: none;
    border-style: none none solid none;
    border-color: #191825;
    text-align: center;
}

form > input:focus {
    background-color: #ddE6Ed;
}

form > button {
    flex: 1;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #27374d;
    color: #fff;
}

.weather-data p:not(:last-child){
    margin-bottom: 2%;
}

h4 {
    text-decoration: underline;
    margin-bottom: 2%;
}